@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*{
	margin:0;
	padding:0;
}
body{
	overflow-x:hidden;
	font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  /* background-color:#e2e3ef; */
}
main{
	display:flex;
	justify-content:center;
	/* background-image:url("image/background-img-2.jpeg"); */
	background-size:cover;
	background-position: center;  
    width: 100%;
}
.register{
	background-color:transparent;	
	height:100%;
	width:40%;
	border-radius:20px;
	margin-top:5px;
	margin-bottom:5px;
	box-shadow:0 0 15px #848482 , 0 0 15px #848482;
	margin-top:17%;
}
.text{
	background-color:#EDEDED;
	height:150px;	
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:22px;
	gap:40px;
	border-radius:20px;
}
.arrow{
	font-size:27px;
}
.form{
	overflow:auto;
	height:78vh;
	Scrollbar-width:none;
}
.input{
	border:none;
	outline:none;
	background-color:transparent;
	border:1px solid black;
	border-radius:10px;
	width:70%;
	padding:10px;
	margin-top:8.5%;
}
.display{
	display:flex;
	justify-content:center;
}
.margin{
	margin-top:4%;
}
.margin1{
	margin-left:5.2%;
}
.width{
	width:38%;
}
.color{
	color:black;
	font-size:15px;
}
.select-div{
	width:74%;
	margin-top:8%;
	text-align:start;
	word-spacing:1px;
}
.option-div{
	width:100%;
	padding:2%;
	outline:none;
	margin-top:2%;
	border-radius:10px;
	background-color:transparent;
}
.margin2{
	margin-top:4%;
}
.submit{
	width:40%;
	padding:2%;
	border:none;
	margin-top:9%;
	border-radius:30px;
	background: #76A8E7;
	background: linear-gradient(90deg, rgba(118, 168, 231, 1) 0%, rgba(169, 119, 218, 1) 50%, rgba(206, 84, 208, 1) 100%);
	color:white;
	font-size:16px;
	letter-spacing:1px;
	box-shadow:0 0 10px #C5D1E6 , 0 0 10px #C5D1E6;
	cursor:pointer;
	transition:transform 1s;
}
.submit:hover{
	transform:scale(1.1);
}
.font{
	font-size:17px;
	margin-top:2%;
}
footer{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	font-size:14.4px;
	background-color:#232F3E;
	color:white;
	padding-top:2%;
	margin-top:8%;
}
.footer-first-div{
	width:80%;
	display:flex;
	gap:10%;
	margin:auto;
}
.footer-list{
	list-style-type:none;
	line-height:1.7;
	width:13%;
	min-height:300px;
}
.Domain-Areas{
	list-style-type:none;
	line-height:1.7;
	width:13%;
	min-height:300px;
}
.footer-list-Registered{
	list-style-type:none;
	line-height:1.7;
	width:30%;
}
.footer-list-Registered{
	list-style-type:none;
	min-height:300px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;	
}
.list-address{
	list-style-type:none;
	line-height:1.4;
}
.About{
	font-weight:bold;
	font-size:20px;
}
.Phone{
	line-height:1.2;
	padding:8%;
	padding-left:0%;
}
.footer-list-Registered-address{
	display:none;
}
.footer-last-div{
	height:70px;
	width:15%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-left:10%;
}
.footer-logos-div{
	height:55%;
	width:19%;
	background-color:white;
	border-radius:7px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:25px;
	color:black;
}


@media screen and (max-width:600px){
	*{
		margin:0;
		padding:0;
	}
	main{
		display:flex;
		justify-content:center;
		background-image:url("image/background-img.jpeg");
		height:100%;
		background-size:cover;
		background-position:center;
		width:100%;
		z-index:-1;
	}
	.register{
		background-color:transparent;
		height:100%;
		width:100%;
		border-radius:20px;
		margin-top:5px;
		margin-bottom:30px;
		box-shadow:0 0 15px #848482 , 0 0 15px #848482;
		margin-top:47%;
	}
	.text{
		background-color:#EDEDED;
		height:100px;	
		width:100%;
		display:flex;
		align-items:center;
		justify-content:center;
		font-size:15px;
		gap:20px;
		border-radius:20px;
	}
	.arrow{
		font-size:20px;
	}
	.form{
		overflow:auto;
		height:70vh;
		Scrollbar-width:none;
	}
	.input{
		border:none;
		outline:none;
		border-bottom:1px solid black;
		border-radius:10px;
		width:75%;
		padding:10px;
		margin-top:8.5%;
		background-color:transparent;
	}
	.display{
		display:flex;
		justify-content:center;
	}
	.margin{
		margin-top:8%;
	}
	.margin1{
		margin-left:16%;
	}
	.width{
		width:45%;
	}
	.color{
		color:black;
		font-size:15px;
	}
	.select-div{
		width:74%;
		margin-top:8%;
		text-align:start;
		word-spacing:1px;
	}
	.text-font{
		font-size:17px;
	}
	.option-div{
		width:100%;
		padding:2%;
		outline:none;
		margin-top:2%;
		border-radius:10px;
		background-color:transparent;
	}
	.margin2{
		margin-top:4%;
	}
	.submit{
		width:40%;
		padding:2%;
		border:none;
		margin-top:9%;
		border-radius:30px;
		background: #76A8E7;
		background: linear-gradient(90deg, rgba(118, 168, 231, 1) 0%, rgba(169, 119, 218, 1) 50%, rgba(206, 84, 208, 1) 100%);
		color:white;
		font-size:16px;
		letter-spacing:1px;
		box-shadow:0 0 10px #C5D1E6 , 0 0 10px #C5D1E6;
		cursor:pointer;
		transition:transform 1s;
	}
	.submit:hover{
		transform:scale(1.1);
	}
	.font{
		font-size:17px;
		margin-top:2%;
	}
	footer{
	font-size:13px;
	padding-bottom:3%;
	margin-top:14%;
	background-color:white;
	color:black;
}
.footer-first-div{
	width:80%;
	display:flex;
	gap:7.3%;
	background-color:;
}
.footer-list{
	list-style-type:none;
	line-height:1.7;
	width:46%;
	min-height:100px;
}
.footer-list-mediya{
	width:60%;
}
.Domain-Areas{
	list-style-type:none;
	line-height:1.7;
	width:64%;
	min-height:100px;
}
.About{
	font-weight:bold;
	font-size:14px;
}
.footer-list-Registered{
	display:none;
}
.footer-list-Registered-address{
	height:200px;
	width:84%;
	display:block;
	font-size:13px;
	margin:10% 0% 0% 10%;
}
.mediya-Office{
	
}
.Registered-mediya-office{
	margin-top:5%;
}
.footer-last-div{
	height:40px;
	width:36%;
	display:flex;
	justify-content:space-between;
}
.footer-logos-div{
	height:25px;
	width:19%;
	background-color:white;
	border-radius:5px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:17px;
	color:white;
	background-color:black;
}

}





@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
	margin:0%;
	padding:0%;
}
body{
	 font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  background-color:#e2e3ef;
}
.position-div{
	position:fixed;
	width:100%;
	z-index:2;
	background-color:red;
}
header{
	background-color:white;
	width:100%;
	display:flex;	
	justify-content:space-around;
}
.parent-div{
	background-color:white;
	width:100%;
	position:fixed;
	z-index:1;
}
.header-1div{
	width:65%;
	height:70px;
	display:flex;
}
.header-2div-under{
	width:45%;
	display:flex;
	align-items:center;
	justify-content:space-around;
	margin-left:3%;
}
.header-2div-under-span{
	border-radius:10px;
	height:16px;
	padding:9px;
	display:flex;
	align-items:center;
	font-size:18px;
	text-decoration:none;
	color:black;
}
.header-2div-under-span:hover{
	border-radius:10px;
	height:16px;
	padding:9px;
	display:flex;
	align-items:center;
	background-color:#e2e3ef;
	color:blue;
	font-weight:bold;
}
.Register-font-size{
	font-size:20px;
}
.hearder-the{
	margin-left:31px;
}
.header-1div-under{
	width:15%;
	font-weight:bold;
	padding-top:1.2%;
}
.header-2div{
	width:19.5%;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.the-laksh-login{
	text-decoration:none;
	color:black;
}
.header-logo-button{
	display:flex;
	width:100%;
	font-weight:bold;
	align-items:center;
	justify-content:center;
	border-radius:10px;
	background-color:white;
	gap:4px;
	border:1px solid black;
	padding:2px;
	font-size:16px;
}
.header-logo-div{
	display:flex;
	width:33%;
	height:33px;
	align-items:center;
	justify-content:center;
	border-radius:10px;
}
.icon-color-blue{
	color:blue;
}
.header-icon{
	font-size:29px;
}
.header-second-div{
	display:none;
}
nav{
	width:100%;
	background-color:black;
	height:60px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.nav-search-div{
	width:49.5%;
	background-color:white;
	height:40px;
	border-radius:10px;
	align-items:center;
	display:flex;
	justify-content:end;
	margin-left:4.1%;	
}
.nav-search-div:hover{
	border:2px solid #FFCE12;
}
.input-search{
	font-size:14px;
	border:none;
	width:91%;
	outline:none;
	margin-left:20px;
}
.search-icon-div{
	width:9%;
	height:40px;
	background-color:#FFCE12;
	display:flex;
	justify-content:center;
	align-items:center;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	color:white;
}
.search-icon{
	color:black;
	font-size:24px;
}







@media screen and (max-width:600px){
header{
	display:flex;	
	justify-content:center;
	align-items:center;
	flex-direction:column;
	height:80px;
	background-color:#e2e3ef;
}
.header-2div{
	display:none;
}
.home-text-decoration-none{
	text-decoration:none;
	color:black;
}
.header-2div-under{
	display:none;
}
.hearder-the{
	margin-left:15px;
}
.header-1div-under{
	width:89%;
	font-weight:bold;
	margin:auto;
	display:flex;
	font-size:27px;
}
.header-second-div{
	height:70px;
	width:100%;
	display:flex;
	align-items:center;
	font-weight:bold;
	font-size:16px;
	background-color:;
	overflow:auto;
	Scrollbar-width:none;
}
.width{
	width:100%;
	background-color:;
	flex-shrink:0;
	display:flex;
	justify-content:space-around;
}
.shrink{
	flex-shrink:0;
}
.menu-mediya{
	font-size:20px;
	font-weight:bold;
}
.more{
	font-weight:bold;
	font-size:17px;
}
.shahed{
	padding:1%;
	border:none;
	background-color:transparent;
}

.menu-button-div-child{
	display:flex;
	height:100%;
	width:100%;
	justify-content:space-around;
	align-items:center;
	margin:auto;
	font-weight:bold;
	background-color:;
}
.mediya-login-button{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	border-radius:8px;
	gap:2px;
	font-size:18px;
	font-weight:bold;
}





.mediya-logo{
	font-size:30px;
	color:blue;
}
.header-2div-span{
	display:none;
}
.header-logo-button{
	display:flex;
	width:100%;
	font-weight:bold;
	align-items:center;
	justify-content:center;
	border-radius:10px;
	background-color:white;
	gap:4px;
	border:1px solid black;
	padding:2px;
	display:none;
}
nav{
	display:flex;
	width:100%;
}
.nav-search-div{
	width:90%;
	background-color:white;
	height:40px;
	border-radius:10px;
	align-items:center;
	display:flex;
	justify-content:end;
}
.input-search{
	font-size:14px;
	border:none;
	width:91%;
	outline:none;
	margin-left:20px;
}
.search-icon-div{
	width:20%;
	height:40px;
	background-color:#FFCE12;
	display:flex;
	justify-content:center;
	align-items:center;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	color:white;
}
.search-icon{
	color:black;
	font-size:24px;
}
.media-first-div{
	display:none;
}
.media-second-div{
	display:none;
}

}