@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
	margin:0;
	padding:0;
}
body{
	overflow-x:hidden;
	 font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  background-color:;
}

.position-div{
	position:fixed;
	width:100%;
	z-index:2;
	background-color:red;
}
header{
	background-color:white;
	width:100%;
	display:flex;	
	justify-content:space-around;
}
.parent-div{
	background-color:white;
	width:100%;
	position:fixed;
	z-index:1;
}
.header-1div{
	width:65%;
	height:70px;
	display:flex;
}
.header-2div-under{
	width:45%;
	display:flex;
	align-items:center;
	justify-content:space-around;
	margin-left:3%;
}
.header-2div-under-span{
	border-radius:10px;
	height:16px;
	padding:9px;
	display:flex;
	align-items:center;
	font-size:18px;
	text-decoration:none;
}
.header-2div-under-span:hover{
	border-radius:10px;
	height:16px;
	padding:9px;
	display:flex;
	align-items:center;
	background-color:#e2e3ef;
	color:blue;
	font-weight:bold;
}
.Register-font-size{
	font-size:20px;
}
.hearder-the{
	margin-left:31px;
}
.header-1div-under{
	width:15%;
	font-weight:bold;
	padding-top:1.2%;
}
.header-2div{
	width:19.5%;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.the-laksh-login{
	text-decoration:none;
}
.header-logo-button{
	display:flex;
	width:100%;
	font-weight:bold;
	align-items:center;
	justify-content:center;
	border-radius:10px;
	background-color:white;
	gap:4px;
	border:1px solid black;
	padding:2px;
	font-size:16px;
}
.header-logo-div{
	display:flex;
	width:33%;
	height:33px;
	align-items:center;
	justify-content:center;
	border-radius:10px;
}
.icon-color-blue{
	color:blue;
}
.header-icon{
	font-size:29px;
}
.header-second-div{
	display:none;
}
nav{
	width:100%;
	background-color:black;
	height:60px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.nav-search-div{
	width:49.5%;
	background-color:white;
	height:40px;
	border-radius:10px;
	align-items:center;
	display:flex;
	justify-content:end;
	margin-left:4.1%;	
}
.nav-search-div:hover{
	border:2px solid #FFCE12;
}
.input-search{
	font-size:14px;
	border:none;
	width:91%;
	outline:none;
	margin-left:20px;
}
.search-icon-div{
	width:9%;
	height:40px;
	background-color:#FFCE12;
	display:flex;
	justify-content:center;
	align-items:center;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	color:white;
}
.search-icon{
	color:black;
	font-size:24px;
}







@media screen and (max-width:600px){
header{
	display:flex;	
	justify-content:center;
	align-items:center;
	flex-direction:column;
	height:80px;
	background-color:#e2e3ef;
}
.header-2div{
	display:none;
}
.home-text-decoration-none{
	text-decoration:none;
	color:black;
}
.header-2div-under{
	display:none;
}
.hearder-the{
	margin-left:15px;
}
.header-1div-under{
	width:89%;
	font-weight:bold;
	margin:auto;
	display:flex;
	font-size:27px;
}
.header-second-div{
	height:70px;
	width:100%;
	display:flex;
	align-items:center;
	font-weight:bold;
	font-size:16px;
	background-color:;
	overflow:auto;
	Scrollbar-width:none;
}
.width{
	width:100%;
	background-color:;
	flex-shrink:0;
	display:flex;
	justify-content:space-around;
}
.shrink{
	flex-shrink:0;
}
.menu-mediya{
	font-size:20px;
	font-weight:bold;
}
.more{
	font-weight:bold;
	font-size:17px;
}
.shahed{
	padding:1%;
	border:none;
	background-color:transparent;
}

.menu-button-div-child{
	display:flex;
	height:100%;
	width:100%;
	justify-content:space-around;
	align-items:center;
	margin:auto;
	font-weight:bold;
	background-color:;
}
.mediya-login-button{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	border-radius:8px;
	gap:2px;
	font-size:18px;
	font-weight:bold;
}





.mediya-logo{
	font-size:30px;
	color:blue;
}
.header-2div-span{
	display:none;
}
.header-logo-button{
	display:flex;
	width:100%;
	font-weight:bold;
	align-items:center;
	justify-content:center;
	border-radius:10px;
	background-color:white;
	gap:4px;
	border:1px solid black;
	padding:2px;
	display:none;
}
nav{
	display:flex;
	width:100%;
}
.nav-search-div{
	width:90%;
	background-color:white;
	height:40px;
	border-radius:10px;
	align-items:center;
	display:flex;
	justify-content:end;
}
.input-search{
	font-size:14px;
	border:none;
	width:91%;
	outline:none;
	margin-left:20px;
}
.search-icon-div{
	width:20%;
	height:40px;
	background-color:#FFCE12;
	display:flex;
	justify-content:center;
	align-items:center;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	color:white;
}
.search-icon{
	color:black;
	font-size:24px;
}
.media-first-div{
	display:none;
}
.media-second-div{
	display:none;
}

}

main{
	background-color:white;
	display:flex;
	flex-direction:column;
	align-items:center;	
}
.margin{
	margin-top:2%;
}
.box-div{
	background-color:#071F57;
	margin-top:3%;
	position:relative;
	width:96%;
	height:640px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:9%;
}
.text{
	position:absolute;
	background-color: rgba(5, 5, 5, 0.5);
	color:white;
	bottom:0%;
	font-size:20.1px;
	letter-spacing:1px;
	display:flex;
	justify-content:center;
	align-items:center;
	height:360px;	
}
.opacity{
	width:90%;
	line-height:1.3;
}
.vision{
	position:absolute;
	color:white;
	font-size:28px;
	font-weight:bold;
}
.circle{
	position:absolute;
	width:37.8%;
	border-radius:50%;
	box-shadow:0px 0px 50px cyan;
	animation: animatecircle 2s infinite ease-in-out;
}
@keyframes animatecircle { 
    0% { box-shadow:0 0 50px cyan; } 
    50% { box-shadow:0 0 100px cyan; }
    100% { box-shadow:0 0 50px cyan; }
}
.position{
	position:absolute;
}
.animation{
	background: linear-gradient(to right, cyan, magenta, blue);
	animation: animateLine 4s linear infinite;
	opacity:0.7;
}
@keyframes animateLine { 
    0% { background:cyan; } 
    50% { background:magenta; }
    100% { background:blue; }
}
.height{
	height:0.4%;
}
.line{
	width:8.1%;
	right:31.5%;
	top:14.4%;
	opacity:0.5;
}
.line1{
	width:3.8%;
	transform:rotate(-40deg);
	top:11.8%;
	right:28.2%;
	opacity:0.5;
}
.line2{
	width:8.2%;
	top:9%;
	right:20.5%;
}
.dot{
	height:9px;
	width:0.6%;
	border-radius:50%;
	background-color:white;
	top:8.4%;
	right:20%;
	box-shadow:0 0 10px cyan;
	animation: animatedot 2s infinite ease-in-out;
}
@keyframes animatedot { 
    0% { box-shadow:0 0 5px cyan; } 
    50% { box-shadow:0 0 20px magenta; }
    100% { box-shadow:0 0 5px cyan; }
}
.line3{
	width:5.1%;
	top:21.3%;
	right:31%;
	opacity:0.5;
}
.line4{
	width:3.8%;
	transform:rotate(-40deg);
	top:18.6%;
	right:27.7%;
	opacity:0.5;
}
.line5{
	width:9%;
	top:15.9%;
	right:19.2%;
	opacity:0.5;
}
.line6{
	width:3.8%;
	transform:rotate(40deg);
	top:18.6%;
	right:15.9%;
}
.line7{
	width:8.9%;
	top:21.2%;
	right:7.5%;
}
.dot1{
	top:20.7%;
	right:7%;
}
.line8{
	width:3.3%;
	top:28%;
	right:30.5%;
	opacity:0.5;
}
.line9{
	width:4.5%;
	transform:rotate(-40deg);
	top:24.8%;
	right:26.5%;
	opacity:0.5;
}
.line10{
	width:6.9%;
	top:21.6%;
	right:20.2%;
}
.dot2{
	top:21.1%;
	right:19.6%;
}
.line-div{
	width:2.1%;
	top:34.6%;
	right:30.3%;
	opacity:0.5;
}
.line-div1{
	width:5.9%;
	transform:rotate(-40deg);
	top:30.4%;
	right:25.1%;
	opacity:0.5;
}
.line-div2{
	width:8.6%;
	top:26.3%;
	right:17.3%;
}
.dot3{
	top:25.8%;
	right:16.7%;
}
.line-div3{
	width:1.5%;
	top:41.6%;
	right:30%;
	opacity:0.4;
}
.line-div4{
	width:5.9%;
	transform:rotate(-40deg);
	top:37.5%;
	right:24.8%;
	opacity:0.4;
}
.line-div5{
	width:6.8%;
	top:33.3%;
	right:18.7%;
	opacity:0.4;
}
.line-div6{
	width:5.9%;
	transform:rotate(35deg);
	top:37%;
	right:13.4%;
	opacity:0.4;
}
.line-div7{
	width:12.4%;
	top:40.7%;
	right:1.6%;
	opacity:0.4;
}
.dot4{
	top:40.2%;
	right:1%;
}
.line-div8{
	width:1.3%;
	top:46.9%;
	right:29.9%;
	opacity:0.5;
}
.line-div9{
	width:5.6%;
	transform:rotate(-40deg);
	top:43%;
	right:25.1%;
	opacity:0.5;
}
.line-div10{
	width:6.2%;
	top:39.1%;
	right:19.6%;
	opacity:0.5;
}
.dot5{
	top:38.5%;
	right:19%;
}
.line-div11{
	width:6%;
	top:40.8%;
	right:19%;
	opacity:0.5;
}
.dot6{
	top:40.3%;
	right:25%;
}
.line-div12{
	width:3.9%;
	transform:rotate(37deg);
	top:43.4%;
	right:15.6%;
	opacity:0.5;
}
.line-div13{
	width:6.3%;
	top:46.1%;
	right:9.7%;
}
.dot7{
	top:45.6%;
	right:9.2%;
}
.line11{
	width:1.3%;
	top:50%;
	right:29.9%;
	opacity:0.5;
}
.dot8{
	top:49.4%;
	right:29.5%;
}
.line12{
	width:4.4%;
	transform:rotate(-40deg);
	top:46.5%;
	right:25%;
	opacity:0.3;
}
.line13{
	width:12.5%;
	top:51%;
	right:10%;
	opacity:0.5;
}
.dot9{
	top:50.4%;
	right:9.3%;
}
.line14{
	width:4.4%;
	transform:rotate(37deg);
	top:55.5%;
	right:24.8%;
	opacity:0.2;
}
.line15{
	width:5.3%;
	top:58.4%;
	right:20%;
	opacity:0.2;
}
.line16{
	width:3.1%;
	transform:rotate(-37deg);
	top:56.3%;
	right:17.3%;
	opacity:0.5;
}
.dot10{
	top:53.7%;
	right:17.3%;
}
.line17{
	width:1.2%;
	top:53.8%;
	right:30%;
	opacity:0.5;
}
.line18{
	width:5.6%;
	transform:rotate(37deg);
	top:57.5%;
	right:25%;
	opacity:0.5;
}
.line19{
	width:6.5%;
	top:61.2%;
	right:19.1%;
	opacity:0.5;
}
.line20{
	width:4.5%;
	transform:rotate(-37deg);
	top:58.3%;
	right:15.2%;
	opacity:0.5;
}
.line21{
	width:6.2%;
	top:55.3%;
	right:9.5%;
}
.dot11{
	top:54.7%;
	right:9.3%;
}
.line-div14{
	width:1.3%;
	top:58%;
	right:30.1%;
	opacity:0.5;
}
.dot12{
	top:57.4%;
	right:29.4%;
}
.line-div15{
	width:3.1%;
	top:61.8%;
	right:28.8%;
	opacity:0.5;
}
.line-div16{
	width:2.8%;
	transform:rotate(36deg);
	top:63.7%;
	right:26.4%;
	opacity:0.5;
}
.line-div17{
	width:9.6%;
	top:65.4%;
	right:17.1%;
	opacity:0.5;
}
.line-div18{
	width:3.4%;
	transform:rotate(-38deg);
	top:63.1%;
	right:14.1%;
}
.line-div19{
	width:9.7%;
	top:60.7%;
	right:4.8%;
}
.line-div20{
	width:3.4%;
	top:67.5%;
	right:29.4%;
	opacity:0.5;
}
.line-div21{
	width:2.8%;
	transform:rotate(38deg);
	top:69.4%;
	right:27%;
	opacity:0.5;
}
.line-div22{
	width:3.5%;
	top:71.2%;
	right:23.9%;
}
.line-div23{
	width:2.3%;
	transform:rotate(-35deg);
	top:69.7%;
	right:21.9%;
}
.line-div24{
	width:6.9%;
	top:68.2%;
	right:15.2%;
}
.dot13{
	top:67.7%;
	right:15.1%;
}
.line-div25{
	width:6.3%;
	top:73.4%;
	right:28%;
	opacity:0.5;
}
.line-div26{
	width:4.2%;
	transform:rotate(40deg);
	top:76.4%;
	right:24.4%;
}
.line-div27{
	width:5.2%;
	transform:rotate(-40deg);
	top:75.6%;
	right:20.4%;
}
.line-div28{
	width:11.1%;
	top:72%;
	right:10%;
}
.dot14{
	top:71.4%;
	right:9.5%;
}
.line-div29{
	width:7%;
	top:77%;
	right:28.6%;
	opacity:0.2;
}
.line-div30{
	width:4.6%;
	transform:rotate(40deg);
	top:80.2%;
	right:24.6%;
	opacity:0.2;
}
.line-div31{
	width:6.3%;
	transform:rotate(-38deg);
	top:79.2%;
	right:19.6%;
	opacity:0.5;
}
.line-div32{
	width:11.4%;
	top:74.9%;
	right:8.9%;
}
.dot15{
	top:74.4%;
	right:8.3%;
}
.line-div33{
	width:9.7%;
	top:82%;
	right:28.1%;
	opacity:0.5;
}
.dot16{
	top:81.5%;
	right:28%;
}
.line-div34{
	width:14.5%;
	top:86%;
	right:25.7%;
	opacity:0.2;
}
.div-line{
	width:8.3%;
	top:14%;
	left:0;
	opacity:0.5;
}
.div-line1{
	width:3.5%;
	transform:rotate(-37deg);
	top:11.7%;
	left:7.9%;
}
.dot17{
	top:8.5%;
	left:10.8%;
}
.div-line2{
	width:11%;
	top:19.5%;
	left:0;
	opacity:0.2;
}
.div-line3{
	width:5%;
	transform:rotate(-40deg);
	top:15.9%;
	left:10.4%;
	opacity:0.4;
}
.div-line4{
	width:12%;
	top:12.3%;
	left:14.8%;
}
.dot18{
	top:11.8%;
	left:26.5%;
}
.div-line5{
	width:5%;
	top:17.5%;
	left:17.5%;
	opacity:0.1;
}
.div-line6{
	width:8.7%;
	top:17.5%;
	left:22.5%;
	opacity:0.3;
}
.div-line7{
	width:3.5%;
	transform:rotate(40deg);
	top:20%;
	left:30.7%;
	opacity:0.5;
}
.div-line8{
	width:1.7%;
	top:22.5%;
	left:33.7%;
	opacity:0.5;
}
.div-line9{
	width:14%;
	top:25%;
	left:0%;
	opacity:0.2;
}
.div-line10{
	width:3%;
	transform:rotate(-40deg);
	top:22.9%;
	left:13.6%;
	opacity:0.2;
}
.div-line11{
	width:14%;
	top:20.8%;
	left:16.2%;
	opacity:0.4;
}
.div-line12{
	width:4.8%;
	transform:rotate(40deg);
	top:24.3%;
	left:29.6%;
}
.div-line13{
	width:12.5%;
	top:29.5%;
	left:0%;
	opacity:0.1;
}
.div-line14{
	width:1.5%;
	transform:rotate(40deg);
	top:30.6%;
	left:12.3%;
	opacity:0.4;
}
.div-line15{
	width:13%;
	top:31.5%;
	left:13.5%;
	opacity:0.5;
}
.div-line16{
	width:3%;
	transform:rotate(-40deg);
	top:29.3%;
	left:26.1%;
}
.dot19{
	top:26.2%;
	left:28.7%;
}
.div-line17{
	width:7%;
	top:34.8%;
	left:12%;
	opacity:0.2;
}
.div-line18{
	width:11.5%;
	top:34.8%;
	left:19%;
	opacity:0.5;
}
.div-line19{
	width:3%;
	transform:rotate(-40deg);
	top:32.7%;
	left:30%;
}
.div-line20{
	width:0.6%;
	top:30.5%;
	left:32.5%;
}
.div-line21{
	width:10.8%;
	top:34%;
	left:0%;
	opacity:0.1;
}
.div-line22{
	width:4.5%;
	transform:rotate(40deg);
	top:37.3%;
	left:10.2%;
	opacity:0.2;
}
.div-line23{
	width:14%;
	top:40.5%;
	left:14.1%;
	opacity:0.3;
}
.div-line24{
	width:3.4%;
	top:40.5%;
	left:28.1%;
	opacity:0.5;
}
.div-line25{
	width:4.4%;
	transform:rotate(40deg);
	top:40.5%;
	left:10%;
	opacity:0.1;
}
.div-line26{
	width:9%;
	top:43.7%;
	left:13.8%;
	opacity:0.2;
}
.div-line27{
	width:8.5%;
	top:43.7%;
	left:22.8%;
	opacity:0.5;
}
.div-line28{
	width:4%;
	top:48%;
	left:15.5%;
	opacity:0.1;
}
.div-line29{
	width:8.5%;
	top:48%;
	left:19.5%;
	opacity:0.4;
}
.div-line30{
	width:4%;
	transform:rotate(-45deg);
	top:51.2%;
	left:24.6%;
}
.dot20{
	top:54.2%;
	left:24.7%;
}
.div-line31{
	width:9%;
	top:40.5%;
	left:0%;
	opacity:0.2;
}
.div-line32{
	width:8%;
	transform:rotate(40deg);
	top:46.3%;
	left:8%;
	opacity:0.4;
}
.div-line33{
	width:9%;
	top:52%;
	left:15%;
	opacity:0.5;
}
.dot21{
	top:51.5%;
	left:24%;
}
.div-line34{
	width:8%;
	top:45%;
	left:0%;
	opacity:0.4;
}
.div-line35{
	width:4%;
	transform:rotate(40deg);
	top:47.9%;
	left:7.5%;
}
.dot22{
	top:50.5%;
	left:10.8%;
}
.div-line36{
	width:6.5%;
	top:56%;
	left:0%;
	opacity:0.4;
}
.div-line37{
	width:3%;
	transform:rotate(-40deg);
	top:53.9%;
	left:6.1%;
}
.dot23{
	top:50.8%;
	left:8.7%;
}
.div-line38{
	width:7.5%;
	top:59.5%;
	left:0%;
	opacity:0.2;
}
.div-line39{
	width:4.3%;
	transform:rotate(-41deg);
	top:56.4%;
	left:6.9%;
	opacity:0.4;
}
.div-line40{
	width:3.5%;
	top:53.3%;
	left:10.6%;
}
.dot24{
	top:52.8%;
	left:14%;
}
.div-line41{
	width:9%;
	top:63%;
	left:0%;
	opacity:0.2;
}
.div-line42{
	width:4.3%;
	transform:rotate(-41deg);
	top:59.9%;
	left:8.4%;
	opacity:0.4;
}
.div-line43{
	width:6.5%;
	top:56.8%;
	left:12.1%;
}
.dot25{
	top:56.3%;
	left:18.2%;
}
.div-line44{
	width:11%;
	top:67.5%;
	left:0%;
	opacity:0.3;
}
.div-line45{
	width:6%;
	transform:rotate(-41deg);
	top:63.2%;
	left:10.2%;
}
.dot26{
	top:58.2%;
	left:15.2%;
}
.div-line46{
	width:10.5%;
	top:71.5%;
	left:0%;
	opacity:0.3;
}
.div-line47{
	width:8.5%;
	transform:rotate(-40deg);
	top:65.4%;
	left:9.4%;
	opacity:0.3;
}
.div-line48{
	width:10%;
	top:59.3%;
	left:16.8%;
	opacity:0.5;
}
.div-line49{
	width:5.5%;
	transform:rotate(-45deg);
	top:54.9%;
	left:25.9%;
}
.dot27{
	top:49.5%;
	left:30.5%;	
}
.div-line50{
	width:10%;
	top:63.5%;
	left:16.8%;
	opacity:0.1;
}
.div-line51{
	width:5.5%;
	transform:rotate(45deg);
	top:67.9%;
	left:25.9%;
	opacity:0.1;
}
.div-line52{
	width:3.3%;
	top:72.3%;
	left:30.6%;
	opacity:0.2;
}
.div-line53{
	width:3.5%;
	transform:rotate(-40deg);
	top:72%;
	left:12%;
	opacity:0.1;
}
.div-line54{
	width:4%;
	top:69.5%;
	left:15.1%;
	opacity:0.1;
}
.div-line55{
	width:6.5%;
	top:69.5%;
	left:19.2%;
	opacity:0.4;
}
.div-line56{
	width:2.5%;
	transform:rotate(40deg);
	top:71.3%;
	left:25.3%;
}
.dot28{
	top:72.2%;
	left:27%;
}
.div-line57{
	width:9%;
	top:75.5%;
	left:0%;
	opacity:0.4;
}
.div-line58{
	width:4.5%;
	transform:rotate(40deg);
	top:78.8%;
	left:8.4%;
}
.dot29{
	top:81.5%;
	left:12%;
}
.div-line59{
	width:4%;
	top:79%;
	left:13%;
	opacity:0.1;
}
.div-line60{
	width:11.5%;
	top:79%;
	left:17%;
	opacity:0.5;
}
.dot30{
	top:78.5%;
	left:28.5%;
}
.div-line61{
	width:4.5%;
	top:82%;
	left:28%;
	opacity:0.1;
}
.div-line62{
	width:3.7%;
	transform:rotate(-40deg);
	top:79.4%;
	left:32%;
	opacity:0.2;
}
.main-div{
	display:none;
}


@media screen and (max-width:600px){
	*{
		margin:0;
		padding:0;
	}
	body{
		overflow-x:hidden;
	}
	main{
		display:flex;
		flex-direction:none;
	}
	.margin{
		display:none;
	}
	.box-div{
		display:none;
	}
	.main-div{
		display:flex;
		align-items:center;
		height:92.2vh;
		background-color:#1E2F63;
		margin:0;
	}
	.image-card{
		height:600px;
		width:355px;
		margin-top:3%;
		margin-top:40%;
		background-image:url("image/phone image.jpg");
		background-size:50px 50px;
	}
	.image-card input{
		display:none;
	}
	.card{
		height:100%;
		width:100%;
		position:relative;
		transition:transform 1s;
		transform-style:preserve-3d;
		cursor:pointer;
	}
	.image-card input:checked + .card{
		transform:rotateY(180deg);
	}
	.vision-text{
		position:absolute;
		backface-visibility:hidden;
		z-index:1;
		font-size:18px;
		left:35%;
		top:4%;
		color:white;
	}
	.card-1{
		position:absolute;
		height:100%;
		width:100%;
		backface-visibility:hidden;
		border-radius:10px;
		overflow:hidden;
		background-image:url("image/phone image.jpg")
	}
	.card-image{
		background-image:url("images/phone image.jpg");
		background-size:cover;
		background-position:center;
	}
	.card-text{
		background-color:#2A4D83;
		transform:rotateY(180deg);
		padding:15px;
		box-sizing:border-box;
		line-height:1.5;
		font-size:17px;
	}
	.card-text h1{
		margin-top:0;
		color:white;
		text-align:center;
	}
	.card-text p{
		color:white;
	}
}



footer{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	font-size:14.4px;
	background-color:#232F3E;
	color:white;
	padding-top:2%;
	margin-top:7%;
}
.footer-first-div{
	width:80%;
	display:flex;
	gap:10%;
	margin:auto;
}
.footer-list{
	list-style-type:none;
	line-height:1.7;
	width:13%;
	min-height:300px;
}
.Domain-Areas{
	list-style-type:none;
	line-height:1.7;
	width:13%;
	min-height:300px;
}
.footer-list-Registered{
	list-style-type:none;
	line-height:1.7;
	width:30%;
}
.footer-list-Registered{
	list-style-type:none;
	min-height:300px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;	
}
.list-address{
	list-style-type:none;
	line-height:1.4;
}
.About{
	font-weight:bold;
	font-size:20px;
}
.Phone{
	line-height:1.2;
	padding:8%;
	padding-left:0%;
}
.footer-list-Registered-address{
	display:none;
}
.footer-last-div{
	height:70px;
	width:15%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-left:10%;
}
.footer-logos-div{
	height:55%;
	width:19%;
	background-color:white;
	border-radius:7px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:25px;
	color:black;
}

@media only screen and (max-width: 600px) {
footer{
	font-size:13px;
	padding-bottom:3%;
	background-color:white;
	color:black;
}
.footer-first-div{
	width:80%;
	display:flex;
	gap:7.3%;
}
.footer-list{
	list-style-type:none;
	line-height:1.7;
	width:46%;
	min-height:100px;
}
.footer-list-mediya{
	width:60%;
}
.Domain-Areas{
	list-style-type:none;
	line-height:1.7;
	width:64%;
	min-height:100px;
}
.About{
	font-weight:bold;
	font-size:14px;
}
.footer-list-Registered{
	display:none;
}
.footer-list-Registered-address{
	height:200px;
	width:84%;
	display:block;
	font-size:13px;
	margin:10% 0% 0% 10%;
}
.mediya-Office{
	
}
.Registered-mediya-office{
	margin-top:5%;
}
.footer-last-div{
	height:40px;
	width:36%;
	display:flex;
	justify-content:space-between;
}
.footer-logos-div{
	height:25px;
	width:19%;
	background-color:white;
	border-radius:5px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:17px;
	color:white;
	background-color:black;
}

}
