*{
	margin:0;
	padding:0;
}
body{
	overflow-x:hidden;
}
main{
	display:flex;
	justify-content:center;
	background-image:url("image/login image3.jpg");
	background-size:cover;
	background-position: center;  
    width: 100%;
	height:100vh;
	position:relative;
}
.register{
	position:absolute;
	background-color:transparent;
	width:33%;
	border-radius:20px;
	top:10%;
	left:32%;
}
.text{
	display:flex;
	justify-content:center;
	font-size:22px;
	border-radius:20px;
}
.form{
	overflow:auto;
	height:50vh;
	Scrollbar-width:none;
}
.input{
	border:none;
	outline:none;
	border-bottom:1px solid black;
	width:70%;
	padding:10px;
	margin-top:9%;
	background-color:transparent;
}
.submit{
	width:60%;
	padding:2.8%;
	border:none;
	margin-top:10%;
	border-radius:50px;
	background: #76A8E7;
	background: linear-gradient(90deg, rgba(118, 168, 231, 1) 0%, rgba(169, 119, 218, 1) 50%, rgba(206, 84, 208, 1) 100%);
	color:white;
	font-size:16px;
	letter-spacing:1px;
	box-shadow:0 0 10px #C5D1E6 , 0 0 10px #C5D1E6;
	cursor:pointer;
	transition:transform 1s;
}
.submit:hover{
	transform:scale(1.1);
}
.font{
	font-size:17px;
	margin-top:2%;
}
.Click-here-to-Register{
	text-decoration:none;
}


@media screen and (max-width:600px){
	*{
		margin:0;
		padding:0;
	}
	body{
		overflow-x:hidden;
	}
	main{
		display:flex;
		justify-content:center;
		background-image:url("image/login image4.jpg");
		background-size:cover;
		background-position:center;  
		width:100%;
		height:92vh;
		position:relative;
	}
	.register{
		position:absolute;
		background-color:transparent;
		width:100%;
		border-radius:20px;
		top:9%;
		left:0%;
	}
	.text{
		display:flex;
		justify-content:center;
		font-size:22px;
		border-radius:20px;
	}
	.form{
		overflow:auto;
		height:45vh;
		Scrollbar-width:none;
	}
	.input{
		border:none;
		outline:none;
		border-bottom:1px solid black;
		width:70%;
		padding:10px;
		margin-top:12%;
		background-color:transparent;
	}
	.submit{
		width:70%;
		padding:2.8%;
		border:none;
		margin-top:15%;
		border-radius:50px;
		background: #76A8E7;
		background: linear-gradient(90deg, rgba(118, 168, 231, 1) 0%, rgba(169, 119, 218, 1) 50%, rgba(206, 84, 208, 1) 100%);
		color:white;
		font-size:16px;
		letter-spacing:1px;
		box-shadow:0 0 10px #C5D1E6 , 0 0 10px #C5D1E6;
		cursor:pointer;
		transition:transform 1s;
	}
	.submit:hover{
		transform:scale(1.1);
	}
	.font{
		font-size:16px;
		margin-top:3%;
	}